
@{
    ViewData["Title"] = "Movie Form";
}

@model List<ApplicationResponse>  

<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td type="hidden"> movieId</td>
            <td> Category</td>
            <td> Title</td>
            <td> Year</td>
            <td> Director</td>
            <td> Rating</td>
            <td> Edited </td>
            <td> Lent To</td>
            <td> Notes</td>

        </tr>

    </thead>
    <tbody>
        @foreach(var x in Model) //make sure Model has capital M
        {    <tr>
                 <td>@x.movieId</td>
                <td>@x.category.categoryName</td>
                <td>@x.title</td>
                <td>@x.year </td>
                <td>@x.director</td>
                <td>@x.rating</td>
                <td>@x.edited</td>
                <td>@x.lentTo</td>
                <td>@x.notes</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-movieId="@x.movieId">Edit</a></td>
                <td><a asp-controller="Home" asp-action="Delete" asp-route-movieId="@x.movieId">Delete</a></td>
            </tr>
            }

    </tbody>

</table>s